---
http_interactions:
- request:
    method: post
    uri: https://api.pluggy.ai/auth
    body:
      encoding: UTF-8
      string: '{"clientId":"<PLUGGY_CLIENT_ID>","clientSecret":"<PLUGGY_CLIENT_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Policy:
      - 360;w=60
      Ratelimit-Limit:
      - '360'
      Ratelimit-Remaining:
      - '357'
      Ratelimit-Reset:
      - '60'
      Etag:
      - W/"2c7-l31yjy98s/hl1pxYVwZzH6/gbVg"
    body:
      encoding: UTF-8
      string: '{"apiKey":"<PLUGGY_API_KEY>"}'
  recorded_at: Thu, 28 May 2026 03:24:58 GMT
- request:
    method: post
    uri: https://api.pluggy.ai/auth
    body:
      encoding: UTF-8
      string: '{"clientId":"<PLUGGY_CLIENT_ID>","clientSecret":"<PLUGGY_CLIENT_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Policy:
      - 360;w=60
      Ratelimit-Limit:
      - '360'
      Ratelimit-Remaining:
      - '356'
      Ratelimit-Reset:
      - '60'
      Etag:
      - W/"2c7-+sJO+Q0qqicgbU69qHV54ILz1Rg"
    body:
      encoding: UTF-8
      string: '{"apiKey":"<PLUGGY_API_KEY>"}'
  recorded_at: Thu, 28 May 2026 03:24:58 GMT
recorded_with: VCR 6.4.0
