---
http_interactions:
- request:
    method: post
    uri: https://api.pluggy.ai/auth
    body:
      encoding: UTF-8
      string: '{"clientId":"<PLUGGY_CLIENT_ID>","clientSecret":"<PLUGGY_CLIENT_SECRET>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Policy:
      - 360;w=60
      Ratelimit-Limit:
      - '360'
      Ratelimit-Remaining:
      - '354'
      Ratelimit-Reset:
      - '9'
      Etag:
      - W/"2c7-aowNuXPbKn2/2A/g5BmYMxmvbZ8"
    body:
      encoding: UTF-8
      string: '{"apiKey":"<PLUGGY_API_KEY>"}'
  recorded_at: Thu, 28 May 2026 03:34:02 GMT
- request:
    method: post
    uri: https://api.pluggy.ai/connect_token
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      X-Api-Key:
      - "<PLUGGY_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38e-55K4l79hUhgAub/w/DnSm9mDkdk"
    body:
      encoding: UTF-8
      string: '{"accessToken":"<PLUGGY_CONNECT_TOKEN>"}'
  recorded_at: Thu, 28 May 2026 03:34:02 GMT
recorded_with: VCR 6.4.0
